/* collapsible */

  .collapsible {
    background-color: #125e8a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 86%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0px 100px 5px;
  }
  
  .collapsible:hover {
    background-color: #0c3f5c;
    color: white;
  }

  .collapsible:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible:hover:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }
  
  .active:hover:after {
    content: "\2212";
    color: white;
  }


  .question-container {
    background-color: #f1f1f1;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 86%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0px 100px 0px;
  }

  /* history-question-button */
  .history-question{
    background-color: #046BA6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0px 10px 0px;
  }

  .history-question:hover {
    background-color: #00509E;
    color: white;
  }

  .history-question:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .history-question:hover:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

    /* history-question-answer*/
  .history-answer{
    width: 90%;
    max-height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    line-height: 1.5;
    font-size: 15px;
    resize: none;
    margin: 0px 10px 0px;
  }



  /* save delete Verify  */
  .save-history-question{
    border: none;
    background-color: #f1f1f1;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px 0px;
  }
  .save-history-question:hover{
    background-color: #ccc;
  }
  .delete-history-question{
    border: none;
    background-color: #f1f1f1;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .delete-history-question:hover{
    background-color: #ccc;
  }
  .verify-history-question{
    border: none;
    background-color: #f1f1f1;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .verify-history-question:hover{
    background-color: #ccc;
  }
  .video-history{
    margin: 20px 0px 0px;
  }
  