/* collapsible */

.collapsible_for_Video {
    background-color: #084082;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 86%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0px 100px 5px;
  }
  
  .collapsible_for_Video:hover {
    background-color: #042852;
    color: white;
  }
  
  /* .active:hover {
    background-color: #042852;
    color: white;
  } */
  
  .collapsible_for_Video:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible_for_Video:hover:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .active:hover:after {
    content: "\2212";
    color: white;
  }
  .content {
    padding: 0px 20px 50px;
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    margin: 0px 100px 0px;
  }